In [1]:

# Import Pandas
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

%matplotlib inline

loan = pd.read_csv('train_original.csv')

**  Exploratory Data Analysis **

In [2]:
# A look at the first 10 rows
loan.head(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N

In [3]:
# Information on data columns
loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
Loan_ID              614 non-null object
Gender               601 non-null object
Married              611 non-null object
Dependents           599 non-null object
Education            614 non-null object
Self_Employed        582 non-null object
ApplicantIncome      614 non-null int64
CoapplicantIncome    614 non-null float64
LoanAmount           592 non-null float64
Loan_Amount_Term     600 non-null float64
Credit_History       564 non-null float64
Property_Area        614 non-null object
Loan_Status          614 non-null object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.4+ KB

In [4]:
# Data Size
loan.shape

(614, 13)

__1. TARGET variable:  __
 * LOAN_STATUS
 
__2. FEATURES:__
 * GENDER
 * MARRIED
 * DEPENDENTS
 * EDUCATION
 * SELF_EMPLOYED
 * APPLICANT_INCOME
 * CO_APPLICANT_INCOME
 * LOAN_AMOUNT
 * LOAN_AMOUNT_TERM
 * CREDIT_HISTORY
 * PROPERTY_AREA

FEATURE_NAME | COUNT OF MISSING VALUES | TYPE
-------------|-------------------------|-------
GENDER       | 24 | CATEGORICAL
MARRIED      | 3 | CATEGORICAL
DEPENDENTS   | 25 | CATEGORICAL
SELF_EMPLOYED | 55 | CATEGORICAL
LOAN_AMOUNT | 27 | CONTINUOUS
LOAN_AMOUNT_TERM  | 20 | CONTINUOUS
CREDIT_HISTORY | 50 | CATEGORICAL

** Fill the NULLS **

In [5]:
loan.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

** Fill values in Nan 'Gender' feature **

In [6]:
loan[loan.Gender.isnull()]

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
23,LP001050,NaN,Yes,2,Not Graduate,No,3365,1917.0,112.0,360.0,0.0,Rural,N
126,LP001448,NaN,Yes,3+,Graduate,No,23803,0.0,370.0,360.0,1.0,Rural,Y
171,LP001585,NaN,Yes,3+,Graduate,No,51763,0.0,700.0,300.0,1.0,Urban,Y
188,LP001644,NaN,Yes,0,Graduate,Yes,674,5296.0,168.0,360.0,1.0,Rural,Y
314,LP002024,NaN,Yes,0,Graduate,No,2473,1843.0,159.0,360.0,1.0,Rural,N
334,LP002103,NaN,Yes,1,Graduate,Yes,9833,1833.0,182.0,180.0,1.0,Urban,Y
460,LP002478,NaN,Yes,0,Graduate,Yes,2083,4083.0,160.0,360.0,NaN,Semiurban,Y
467,LP002501,NaN,Yes,0,Graduate,No,16692,0.0,110.0,360.0,1.0,Semiurban,Y
477,LP002530,NaN,Yes,2,Graduate,No,2873,1872.0,132.0,360.0,0.0,Semiurban,N
507,LP002625,NaN,No,0,Graduate,No,3583,0.0,96.0,360.0,1.0,Urban,N
576,LP002872,NaN,Yes,0,Graduate,No,3087,2210.0,136.0,360.0,0.0,Semiurban,N
588,LP002925,NaN,No,0,Graduate,No,4750,0.0,94.0,360.0,1.0,Semiurban,Y
592,LP002933,NaN,No,3+,Graduate,Yes,9357,0.0,292.0,360.0,1.0,Semiurban,Y

In [7]:
loan[loan.Married=='Yes'].Gender.value_counts(dropna=False)
#Male      357
#Female     31
#Nan        10
loan[loan.Married=='No'].Gender.value_counts(dropna=False)
#Male      357
#Female     31
#Nan         3

Male      130
Female     80
NaN         3
Name: Gender, dtype: int64

Based on the above as the majority MARRIED entries are of MALES, I make assumption, that all Married=Yes records are of Gender=Male

In [8]:
# Not the correct way, need to use the lambda condition chcking
#
#loan[loan.Married=='Yes'].Gender.fillna(value='Male',inplace=True)

In [9]:
loan[loan.Married=='Yes'].Gender.value_counts(dropna=False)

Male      357
Female     31
NaN        10
Name: Gender, dtype: int64

In [10]:
loan.Gender.fillna(value='Male',inplace=True)
# Need to change to assign Gender = Male based on Married column values.

In [11]:
loan[loan.Married=='Yes'].Gender.value_counts(dropna=False)

Male      367
Female     31
Name: Gender, dtype: int64

** Fill in values for Nan Married columns **

In [12]:
# Need to change to assign Married = Yes based on 
loan.Married.fillna(value='Yes',inplace=True)

In [13]:
loan.Married.value_counts(dropna=False)

Yes    401
No     213
Name: Married, dtype: int64

** Fill in values for Nan Self-Employed columns **

In [14]:
loan.Self_Employed.value_counts(dropna=False)

No     500
Yes     82
NaN     32
Name: Self_Employed, dtype: int64

In [15]:
loan.Self_Employed.fillna(value='No',inplace=True)

In [16]:
loan.Self_Employed.value_counts(dropna=False)

No     532
Yes     82
Name: Self_Employed, dtype: int64

** Fill in values for Nan Dependents columns **

In [17]:
loan.Dependents.value_counts(dropna=False)

0      345
1      102
2      101
3+      51
NaN     15
Name: Dependents, dtype: int64

In [18]:
loan[loan.Dependents.isnull()]

loan[loan.Dependents=='0'].groupby(by=['Gender','Married']).size()

Gender  Married
Female  No          60
        Yes         20
Male    No         111
        Yes        154
dtype: int64

In [19]:
loan.Dependents.fillna(value='0',inplace=True)

In [20]:
loan.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [21]:
# to fill Nan loan amount use its mean
#loan.LoanAmount.mean()
loan.LoanAmount.fillna(value=loan.LoanAmount.mean(),inplace=True)

In [22]:
# to fill Nan Loan Amount Term with its mean
loan.Loan_Amount_Term.mean()
loan.Loan_Amount_Term.fillna(value=loan.Loan_Amount_Term.mean(),inplace=True)

In [23]:
# to fill Nan credit history with 1 based on the ratio of 1:0
loan.Credit_History.value_counts(dropna=False)
loan.Credit_History.fillna(value=1.0,inplace=True)#### Change the Categorical data to numeric data

#### Change the Categorical data to numeric data

In [24]:
gender_dummies = pd.get_dummies(loan.Gender, prefix='ApplicantGender')
gender_dummies.drop(gender_dummies.columns[0], axis=1, inplace=True)

In [25]:
marital_status_dummies = pd.get_dummies(loan.Married, prefix='MaritalStatus')
marital_status_dummies.drop(marital_status_dummies.columns[0], axis=1, inplace=True)

In [26]:
education_dummies = pd.get_dummies(loan.Education,prefix='Education')
education_dummies.drop(education_dummies.columns[0],axis=1,inplace=True)

In [27]:
self_employed_dummies = pd.get_dummies(loan.Self_Employed, prefix='Self_Employed')
self_employed_dummies.drop(self_employed_dummies.columns[0], axis=1, inplace=True)

In [28]:
credit_history_dummies = pd.get_dummies(loan.Credit_History, prefix='Credit_History')
credit_history_dummies.drop(credit_history_dummies.columns[0], axis=1, inplace=True)

In [29]:
dependents_dummies = pd.get_dummies(loan.Dependents,prefix='Dependents')
dependents_dummies.drop(dependents_dummies.columns[0],axis=1,inplace=True)

In [30]:
loan_status_dummies = pd.get_dummies(loan.Loan_Status,prefix='Loan_Status')
loan_status_dummies.drop(loan_status_dummies.columns[0],axis=1,inplace=True)

In [31]:
loan_dummies = pd.concat([loan,gender_dummies,marital_status_dummies,self_employed_dummies,education_dummies,credit_history_dummies,dependents_dummies,loan_status_dummies],axis=1)

In [32]:
loan_dummies.shape

(614, 22)

In [33]:
loan_dummies.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,...,Loan_Status,ApplicantGender_Male,MaritalStatus_Yes,Self_Employed_Yes,Education_Not Graduate,Credit_History_1.0,Dependents_1,Dependents_2,Dependents_3+,Loan_Status_Y
0,LP001002,Male,No,0,Graduate,No,5849,0.0,146.412162,360.0,...,Y,1,0,0,0,1,0,0,0,1
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.000000,360.0,...,N,1,1,0,0,1,1,0,0,0
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.000000,360.0,...,Y,1,1,1,0,1,0,0,0,1
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.000000,360.0,...,Y,1,1,0,1,1,0,0,0,1
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.000000,360.0,...,Y,1,0,0,0,1,0,0,0,1

In [34]:
loan_dummies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 22 columns):
Loan_ID                   614 non-null object
Gender                    614 non-null object
Married                   614 non-null object
Dependents                614 non-null object
Education                 614 non-null object
Self_Employed             614 non-null object
ApplicantIncome           614 non-null int64
CoapplicantIncome         614 non-null float64
LoanAmount                614 non-null float64
Loan_Amount_Term          614 non-null float64
Credit_History            614 non-null float64
Property_Area             614 non-null object
Loan_Status               614 non-null object
ApplicantGender_Male      614 non-null uint8
MaritalStatus_Yes         614 non-null uint8
Self_Employed_Yes         614 non-null uint8
Education_Not Graduate    614 non-null uint8
Credit_History_1.0        614 non-null uint8
Dependents_1              614 non-null uint8
Dependents_2              614 non-null uint8
Dependents_3+             614 non-null uint8
Loan_Status_Y             614 non-null uint8
dtypes: float64(4), int64(1), object(8), uint8(9)
memory usage: 67.8+ KB